.container{
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    justify-self: flex-start;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid #d9dbdf;
}

.headingText{
    display: flex;
    gap: 1.7rem;
    justify-self: center;
    margin-left: 30%;
}

p{
    color: #6f6e6e;
}

.body{
    background-color: #f6f7f9 ;
}



