.container, .logo, .body, .bodyRight{
    display: flex;
}

.container{
    flex-direction: column;
}

.logo{
    justify-self: flex-start;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid #d9dbdf;
    background-color: white;
}

.headingText{
    display: flex;
    gap: 1.7rem;
    justify-self: center;
    margin-left: 30%;
}

p{
    color: #8b8b8b;
}

body{
    margin: 0;
    background-color: #f6f7f9 ;
}

.bodyRight{
    justify-content: center;
    padding-top: 1.5rem;
    gap: 2rem;
    flex-wrap: wrap;
    width: 800px;
}

.bodyLeft{
    width: 325px;
}

button{
    width: 12.2rem;
    height: 7.2rem;
    border-radius: 5%;
}

