.container, .logo, .body, .bodyRight, button{
    display: flex;
}

.container{
    flex-direction: column;
}

.logo{
    justify-self: flex-start;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid #d9dbdf;
    background-color: white;
}

.headingText{
    display: flex;
    gap: 1.7rem;
    justify-self: center;
    margin-left: 30%;
}

span{
    color: #8b8b8b;
}

body{
    margin: 0;
    background-color: #f6f7f9 ;
}

.bodyRight{
    justify-content: center;
    padding-top: 1.5rem;
    gap: 2rem;
    flex-wrap: wrap;
    width: 800px;
}

.bodyLeft{
    width: 325px;
}

.imageButton{
    display: flex;
    width: 12.2rem;
    height: 7.2rem;
    border-radius: 5%;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
}

.bgPhoto{
    width: 12.2rem;
    height: 7.2rem;
    border-radius: 5%;
}

.textButton{
    position: absolute;
    align-self: flex-end;
    margin: 0;
    padding: .7rem;
}